.shift {
    margin-left: 180px;
}


#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: black;
}

.content {
    margin-left: 70px;
    /* Adjust based on sidebar width */
    padding-left: 15px;
    /* Adjust based on sidebar width */
}

.movies,
.shows {
    display: flex;
    flex-wrap: nowrap;
    /* Ensure cards don't wrap to the next line */
    gap: 20px;
}



.carousels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel {
    flex: 1;
    max-width: calc(50% - 10px);
    /* Subtracting margin and borders */
    margin-right: 10px;
    position: relative;
}

.carousel-inner {
    position: static;
    /* Ensures inner items don't overflow */
}